/* Jumbotron.css */

/* Animation keyframes for the fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the heading */
.jumbotron-content .display-4 {
 
  text-align: center;
    margin-top: 2%;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: blue; /* Change color as needed */
    animation: pulse 1s ease-in-out infinite; 
    position: relative; /* Ensure the heading has a relative position */
    /* Adjust animation duration or other properties as desired */
}

